<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <servers>
        <server>
            <id>bintray-ocopea-pcf-fs-crb</id>
            <username>akarmia</username>
            <password>f85c7ec8c15692e5f996b25f80244a962a5b91d5</password>
        </server>
    </servers>   
</settings>
